.character-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
  padding: 20px;
}
.character-card{
  background-color: #F3BA2A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

@media only screen and (max-width: 530px) {
  .character-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .character-card{
    background-color: #F3BA2A;
    max-width: 300px;
  }
}
